<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,
100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="icon" href="images/LOGO.ico">

</head>
<body>
    <div class="menu">
        <i class='bx bx-menu'></i>
        <i class='bx bx-x' ></i>
    </div>
        <div class="barra-lateral">
            <div>
                <div class="nombre-pagina">
                    <img class="img-logo" src="/images/LOGO.PNG" alt="">
    
                            <span>EL BOLSÓN</span>
                </div>
                <button class="btn btnGestionUsuarios">
                    <i class='bx bx-user'></i>
                    <span>Gestión Usuarios</span>
                </button>
                <button class="btn btnGestionGaleria">
                    <i class='bx bx-photo-album'></i>
                    <span>Gestión Galería</span>
                </button>
                <button class="btn btnGestionprovincias">
                    <i class='bx bx-photo-album'></i>
                    <span>Gestión Provincias</span>
                </button>
                <button class="btn btnGestionGaleria">
                    <i class='bx bx-photo-album'></i>
                    <span>Gestión Género</span>
                </button> <button class="btn btnGestionGaleria">
                    <i class='bx bx-photo-album'></i>
                    <span>Gestión Rol</span>
                </button>
                <button class="btn btnGestionGaleria">
                    <i class='bx bx-photo-album'></i>
                    <span>Gestión Cerveza</span>
                </button>
            </div>
            <nav class="navegacion">
                <ul>
                    <li>
                        <a href="/">
                            <i class='bx bx-home-alt-2' ></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/acercaDe">
                            <i class='bx bx-info-circle'></i>
                            <span>Acerca de</span>
                        </a>
                    </li> 
                    <li>
                        <a href="/contacto">
                        <i class='bx bx-envelope' ></i>
                            <span>Contacto</span>
                        </a>
                    </li> 
                    <li>
                        <a href="/sucursales">
                        <i class='bx bx-git-branch'></i>
                            <span>Sucursales</span>
                        </a>
                    </li> 
                    <li>
                        <a href="/nuestrosClientes">
                        <i class='bx bx-group'></i>
                            <span>Clientes</span>
                        </a>
                    </li> 
                    <li>
                        <a href="/historia">
                        <i class='bx bx-beer' ></i>
                            <span>Historia</span>
                        </a>
                    </li> 
                </ul>
            </nav>
           <div>
            <div class="linea"></div>
            <div>
                <div class="usuario">
                    <img class="img-usuario" src="" alt="" id="user-image">
                    <div class="info-usuario">
                        <div class="nombre-email">
                            <span class="user" id="user-name">Usuario</span>
                            <span class="email" id="user-email">usuario@ejemplo.com</span>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-log-out">
                    <i class='bx bx-log-out'></i>
                    <span>Cerrar sesión</span>
                </button></div>
            </div>
           </div>
        </div>
       
     

    <main id="main-content">
        <h1>BIENVENIDO AL ÁREA DE ADMINISTRACIÓN</h1>
    </main>
    
    <script src="/js/admin.js"></script>

</body>
</html>