<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestión Género</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <!-- https://alertifyjs.com/ -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css"/>
    <!-- Default theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/default.min.css"/>
  <link rel="stylesheet" href="/css/gestion.css" />
  </head>

  <body>
    <div class="container mt-4 shadow-lg p-3 bg-body rounded">
      <div class="table-responsive">
      <button id="btnAgregarGenero" type="button" class="btn btn-outline-success"  data-bs-target="#modalGeneros">+ Agregar</button>
      <table  id="tabla-generos" class="table mt-2 table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody id="tablaGeneros">
          <!-- Aca se mostrarán los usuarios -->
        </tbody>
      </table>
    </div>
    </div>


<div id="modalGeneros" class="modal fade"  tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Provincias</h1>
      </div>
      <div class="modal-body">
        <form id="register-formGeneros" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="nombre_genero" class="col-form-label sr-only">Nombre</label>
            <input type="text" name="nombre_genero" class="form-control" id="nombre_genero" placeholder="Nombre" required>
            <span class="errorGenero escondido"></span>
          </div>
      <div class="modal-footer">
        <button id="btnCerrarGenero" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <span class="errorGenero escondido"></span>
      </div>
    </form>

    </div>
  </div>
</div>

  </body>
</html>