<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL Bolsón</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/LOGO.ico">
    <script src="https://kit.fontawesome.com/c6c514cb45.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="body-acerca">
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand " href="#"><img class="rounded-5" src="images/LOGO.ico" alt="LOGO" width="50px" height="34px"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="/"><strong>Home</strong></a>
                        </li>
                        <li class="nav-item">
                            <p class="h3"><strong>ACERCA DE</strong></p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="/contacto"><strong>Contacto</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="/sucursales"><strong>Sucursales</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="/nuestrosClientes"><strong>Nuestros clientes</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        <main>
        <div class="container-fluid acerca text-center">
            <h1><strong>¡SABOR Y PASIÓN!</strong></h1>
            <h2><strong>Nuestra misión es brindar experiencias únicas a los amantes de la cerveza artesanal.<br>
            Somos un grupo de amigos al frente de una empresa reconocida como líder en calidad y diversidad cervecera.</strong></h2>     
            <h3><strong><u>Nuestra Historia:</u></strong></h3>
                <p><strong>Fundada por apasionados cerveceros en 2010. Fué en El Bolsón, en un rincón mágico de la Patagonia Argentina, donde los picos nevados se alzan majestuoso
                y los ríos danzan entre los bosques.<br>
                En ese paraíso natural, tres amigos, Juan Carlos, Martina y Diego, compartían su amor por la cerveza artesanal 
                y la aventura.

                Un día, mientras contemplaban el atardecer desde la cima del cerro Piltriquitrón,<br>
                la idea surgió como una chispa: ¿Por qué no fundar nuestra propia cervecería? La pasión por la cerveza y la belleza de la región se fusionaron en un sueño 
                compartido. Así nació “Cerveza artesanal El Bolsón”.<br> Juan Carlos, con su sabiduría y conocimiento, se convirtió en el
                maestro cervecero. Martina, la creativa del grupo, diseñó las etiquetas con ilustraciones de montañas y ríos. Diego, el aventurero,<br>
                exploró los senderos en  busca de ingredientes locales: lúpulo fresco, agua cristalina y la esencia misma de la Patagonia.
                
                La pequeña planta al norte de la ciudad se llenó de risas, aromas y el sonido <br>
                reconfortante de las botellas llenándose. Los lugareños y los visitantes se congregaron en la cervecería, curiosos por ver el proceso de elaboración.<br>
                Cerveza artesanal El Bolsón no solo ofrece cervezas exquisitas, sino también una
                experiencia turística única.<br>
                Inspirados por la evolución constante de la cerveza.
                Desde entonces, hemos creado recetas únicas y exclusivas.</p><br>
                <h3><strong><u>Nuestros Productos brindan una gran variedad de estilos, como:</u></strong></h3>
                <p><small>IPA: Intensa y aromática.<br>
                Stout: Oscura y robusta.<br>
                Amber Ale: Equilibrada y maltosa.<br>
                Wheat Beer: Refrescante y afrutada.<br>
                <em>Manejamos solo calidad Premium.<br>
                Utilizamos ingredientes frescos y naturales.<br>
                Elaboramos en pequeños lotes para garantizar excelencia.</em></small></strong></p> 
        </div>
    </main>
        <footer>
            <div class="container">
                    <nav class="row">
                        <div class="col-4 text-reset text-uppercase  text-center">
                        <p>
                            <strong>EL BOLSÓN</strong>
                        </p>
                        </div>
                        <div class="col-4 h5">
                        <p class="py-2">
                            <STRong>&COPY2024</STRong>
                        </p>
                        </div>
                        <div class="col-4 list-unstyled">
                        <ul>
                            <li class="d-flex justify-content-between">
                                <a class="pin pin1" href="Facebook">
                                    <i class="fa-brands fa-facebook"></i>
                                    </a>
                            <a class="pin pin2 ms-6" href="Instagram">
                                <i class="fa-brands fa-square-instagram"></i>
                            </a> 
                            <a class="pin pin3 ms-6" href="x">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a> 
                            </li>
                        </ul>
                    </div>
                    </nav>
            </div>
        </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>